<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../popup/popup.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To-Do List</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body class="popup hidden">
    <div class="container mt-3" style="height: 100%;">
        <div id="content">
            <!-- Content will be loaded here -->
            <script src="../utils/appearance.js"></script>
            <script type="module" src="../popup/hellonotes.js"></script>
            <div id="sort-filter-cont" class="d-flex flex-row justify-content-between align-items-stretch mx-1" style="padding-bottom: 10px;">
            <!--Indexing indicator at top left-->
            <div class="d-flex align-items-center justify-content-center bg-dark-subtle px-2 py-1" style="border: 1px solid grey; border-radius: 5px;" id="indexing">
              <div>
                  <div class="circle-ind me-1" id="indexing-indicator"></div>
              </div>
              <div>Indexing</div>
            </div>
            <!--Settings button at top right-->
            <button type="button" class="d-flex btn btn-secondary justify-content-center ms-2" id="manage-settings"
                style="width:100%; display: inline-flex; align-items: center; margin: auto;">
                <img src="../../assets/images/gear.svg" alt="Icon" style="height: 20px; margin-right: 8px;">
                Settings
            </button>
            </div>
            <div id="add-new-note" style="padding-bottom: 10px;">
                <textarea class="form-control" id="noteinput" type="text" placeholder="Add a note/task"
                    style="outline: none !important; border-radius: 10px 10px 0px 0px;"></textarea>
                    <div id="noteDetails" style="width: 100%; display: inline-block; background-color: rgba(79, 79, 79, 0.8); padding: 10px; font-size: small;">
                        <div id="noteDate" style="display: inline-block;">Due Date: </div>
                        <div id="noteTags" style="display: inline-block;">Tags: </div>
                      </div>
                <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                    <div id="dropdown-container" style="width: 20%;">
                    <div class="dropdown" style="display: inline-block; width: 100%;">
                        <!-- Dropdown button -->
                        <button type="button" 
                                class="btn btn-secondary" 
                                id="sort-by-dropdown" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false" 
                                style="border-radius: 0px 0px 0px 10px; width: 100%;">
                          <img src="../../assets/images/calendar-day.svg" alt="Icon" style="height: 20px;">
                        </button>
                      
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu" aria-labelledby="sort-by-dropdown" id="due-dropdown-menu">
                            <h6 class="dropdown-header">Due</h6>
                            <a class="dropdown-item" id="due-today">Today</a>
                            <a class="dropdown-item" id="due-tomorrow">Tomorrow</a>
                            <a class="dropdown-item" id="due-next-week">Next week</a>
                            <div class="dropdown-divider"></div>
                            <input class="dropdown-item" type="date" id="custom-date" name="due-date"/>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown">
                        <button
                          type="button"
                          class="btn btn-secondary dropdown-toggle"
                          style="border-radius: 0px 0px 0px 0px;"
                          id="categoryDropdownButton"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <img src="../../assets/images/tag.svg" alt="Icon" style="height: 20px;">
                        </button>
                      
                        <ul class="dropdown-menu p-3" aria-labelledby="categoryDropdownButton">
                            <li><h6 class="dropdown-header">Select Categories</h6></li>
                            <li id="categoryDropdownMenu">
                            </li>
                            <li><div class="dropdown-divider"></div></li>
                            <li>
                                <div class="form-group">
                                    <label for="newCategoryInput" class="form-label">Add New Category</label>
                                    <input type="text" id="newCategoryInput" class="form-control" placeholder="Category name">
                                    <button class="btn btn-primary mt-2 w-100" id="saveCategoryButton">Add</button>
                                    <!-- Add delete category button -->
                                    <button class="btn btn-danger mt-2 w-100" id="deleteCategoryButton">Delete Selected</button>
                                </div>
                            </li>
                        </ul>
                      </div>
                    
                    <!-- Input field for adding new categories -->
                    <div id="newCategoryInputContainer" style="display: none; margin-top: 10px;">
                        <input type="text" id="newCategoryInput" class="form-control" placeholder="Enter new category name">
                        <button class="btn btn-primary mt-2" id="saveCategoryButton">Save</button>
                    </div>
                    <button type="button" id="deleteNote" class="btn btn-secondary" style="border-radius: 0px 0px 0px 0px; width: 5%; display: none;">
                          <img src="../../assets/images/trash.svg" alt="Icon" style="height: 20px;">
                        </button>
                    <button type="button" class="btn btn-secondary" id="canceledit"
                        style="border-radius: 0px 0px 0px 0px; width: 30%; display: none;">Cancel Edit</button>
                    <button type="button" class="btn btn-secondary" id="addnote"
                        style="border-radius: 0px 0px 10px 0px; width: 15%;">Add</button>
                    </div>

            </div>
            <div style="padding-bottom: 10px;" id="display-tasks">
              <div class="d-flex align-items-stretch" id="tasks-header">
                <div class="h5 d-flex ps-1 justify-content-center" style="width: 100%; text-align: center; background-color: var(--primary-color); margin: 0px; padding: 10px 0px; color: white; border-radius: 10px 0px 0px 0px;">
                  Tasks</div>
                <div class="dropdown d-flex">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="group-by-dropdown" data-bs-toggle="dropdown"
                    style="width: 100%; border-radius: 0 10px 0 0;" aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/images/collection.svg" alt="Icon" style="height: 20px;">
                    Group by
                  </button>
                  <div class="dropdown-menu p-3" aria-labelledby="group-by-dropdown" id="tagsDropdownMenu">
                    <h6 class="dropdown-header">Select Tags</h6>
                  </div>
                </div>
          </div>
              <table class="table" style="margin: 0px;">
                <thead id="tasks-display-noNotes">
                  <tr id="tasks-display-default">
                    <th scope="col" style="width: 100%; text-align: center;">
                      <div style="display: flex; flex-direction: column; align-items: center;">
                        <img src="../../assets/images/emoji-frown.svg" alt="Icon" style="height: 50px;">
                        <span>No notes to display</span>
                      </div>
                    </th>
                  </tr>
            
                  <tr id="tasks-display-notes" style="display: none;">
                    <th scope="col" style="width: 5%;"></th>
                    <th scope="col" style="width: 75%;">Title</th>
                    <th scope="col" style="width: 20%;">Due date</th>
                  </tr>
                </thead>  
                <tbody id="tasks-display">
                        </tbody>
                    </table>
                    <div style="width: 100%; text-align: center; background-color: var(--primary-color); margin-bottom: 0px; color: white; padding: 5px; border-radius: 0px 0px 10px 10px; height: 17px;"></div>
                </div>
        </div>
    </div>

</body>

</html>